# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp

# =========================
# Power BI 
# =========================

dashboards/**/.pbi/cache.abf
dashboards/**/.pbi/localSettings.json
dashboards/**/.pbi/editorSettings.json

dashboards/**/.platform